#content {
	margin: 0 auto;
	width: 940px;
	text-align: center;
	font: bold 16px/18px arial,tahoma;
}
.process_status {
	border: 1px solid #efefef;
	box-shadow: 0px 2px 10px #eee;
	margin: 20px 0;
	padding: 20px;
}