<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="pl"  ng-app="app"> <!--<![endif]-->
    <head>	
        <meta charset="UTF-8" />
        <title>I will be back</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link media="all" href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
        <link media="all" href="/css/style.css" type="text/css" rel="stylesheet" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <body>
        <div id="main-content" ng-controller="MainController" class="container">
        <br />
            <div class="row first">
                <div class="col-md-6">
                    <h1>I will be back!</label></h1>
                </div>
                <div class="col-md-6">
                    <form class="form-inline"  ng-submit="addMachine();">
												
                        <div class="input-group input-group-lg">
                            <label for="name" class="input-group-addon">Add new machine</label>
                            <input type="text" id="name" class="form-control" placeholder="http://detpuw1-jenkins-update-971.data.det:8081/" ng-model="url" >
							<span class="input-group-btn">
								<button id="send" class="btn btn-default" type="submit">Send</button>
							</span>
                        </div>
                        
                    </form>
                </div>
            </div>

            <div class="row">
                <h3>Your registered jobs:</h3>
                <p class="jsLoadingDataInfo">Loading data...</p>
                <ul class="jobs">
                    <li ng-repeat="cjob in currentJobs" ng-class="{blink: cjob.progress !== ''}">
                        <input type="button" class="btn btn-primary btn-sm" data-url="{{ cjob.url }}" value="remove" ng-click="removeThisJob($event, cjob.url)" />
                        {{ cjob.url }}

                        <div class="progressbar-content" ng-if="cjob.progress !== ''">
                            <div ng-class="{progressbar: cjob.progress !== ''}" style="width: {{ cjob.progress }}"> 
                                <span>{{ cjob.progress }}</span>
                            </div>    
                        </div>
                    </li>
                </ul>
            </div>

            <div class="row jsAvailableJobs hidden">
                <h3>Jobs</h3>

                <a href="javascript:" class="btn btn-default" ng-click="clearJobsList()">Clear list</a>

                <label>
                    Search: 
                    <input ng-model="searchText">
                </label>

                <ul class="table table-striped">
                    <li ng-repeat="job in jobs | filter:searchText"><input type="button" class="btn btn-success btn-sm" value="add job" ng-click="addThisJob(job.url)" /> {{ job.name }}</li>
                </ul>
            </div>
            
        </form>
        </div>   
        <script src="/js/jquery.min.js" type="text/javascript"></script>
        <script src="/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/js/sockjs.min.js"></script>
        <script src="/js/stomp.min.js"></script>
        <script src="/js/angular.min.js" type="text/javascript"></script>
        <script src="/js/app.js"></script> 
        

        <script type="text/javascript">
            $(window).ready(function() {
                $('.blink').fadeOut('slow', function() {
                  $(this).fadeIn('slow', function(){
                      blink(this);
                  });
                });
            })
        </script>
    </body>
</html>